/*
primero en el archivio CSS comienzo con los estilos GENERALES/UNIVERSALES


*/

body {
    background-color: #E6E6E6;
    margin: 2px;
    padding: 2px;

    }

.NombreCompleto{
    font-style: italic;
    font-weight: bold;
}


.span{display: flex;
    font-style: italic;
    font-weight: bold;
}

.años{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.section{display: flex;
    flex-direction: row;
    
}


.footer{ display: flex;
    position: relative;
    justify-content: center;
    background-color: #005577;
}

.img1{display: flex;
    position: relative;
    top: 0;
}


.img2{display: flex;
    position: relative;
    top: 0;
    right: 10px;
    left: 25px;
}



.img3{display: flex;
    position: relative;
    top: 0;
    right: 10px;
    bottom: 10px;
    left: 50px;
}










/*ESTILOS DEL HEADER*/
.encabezado{
background-color: #E6E6E6;
text-align: center;
}

.empty-space{
    inset-block: 20px;
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 84, 117);
    background-color: #c4c4c4;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#TituloPrincipal{
    font-size: 35px;
    font-weight: 700;

}