/* ESTILOS GENERALES*/

.{background-color: #F5F5F5;

}

body{
    font-family:'Be Vietnam Pro', sans-serif;
    color: #232C50;
}
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

.fuente{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


h4{
    text-align: center;
}


p{
    text-align: center;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
}

form{
    flex-direction: row;
}

input{
    border-radius: 50px;
    width: 201px;
    height: 42px;
    border: 0px;
   
}
/*BOTONES*/
.btn1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 134px;
    height: 44px;
    background: #8B48BF;
    color: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 0px;
    
}

.btn2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    width: 110px;
    height: 44px;
    background-color: #8b48bf;
    color: #fff;
    border-radius: 50px;
    border: 0;
}

.btn3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    width: 70px;
    height: 44px;
    background-color: #8b48bf;
    color: #fff;
    border-radius: 50px;
    border: 0;
}

.btn4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    width: 120px;
    height: 44px;
    background-color: #8b48bf;
    color: #fff;
    border-radius: 50px;
    border: 0;
    position: flex;
}


.btn5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    width: 120px;
    height: 44px;
    background-color: #fff;
    color: #8b48bf;
    border-radius: 50px;
    border: 0;
    position: flex;
}

/*ESTILO DE CONTENEDORES DE BOTONES*/

.container-btn{
    border: 1px solid red;
    height: 20vh;
    justify-content: center;
    align-items: center;
    animation: aparecer 1.5s linear;
}

.btn:hover{
    background-color: rgba (138, 43, 226, .6);
    cursor: pointer;
}

/*HEADER*/




.encabezado{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 65px 165px;
      gap: 224px;
      position: absolute;
      width: 1400;
      height: 174px;
      left: 0px;
      top: 0px;
}

.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 28px;
    width: 400px;
    height: 50px;
    
}

.navegacionFooter{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 0px;





}

.ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    list-style-type: none;
    color: #242E52;
    width: 400px;
    height: 40px;
    margin: 0px;
}

.li{
    text-decoration: none;
    text-align: center;
}

/*BODY*/

.seccion1{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 40px 0px;
   gap: 100px;
   position: absolute;
   width: 1440px;
   height: 110px;
   left: 0px;
   top: 817px;
   background-color: #8B48BF;
   color: #fff;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.seccion2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    gap: 24px;
    position: absolute;
    width: 1440px;
    height: 420px;
    left: 0px;
    top: 1000px;
    background-color: #fff;
}


.seccion3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 1500px;
    background-color: #fff;
    margin: 0px;
    
}

.seccion4{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2200px;
    height: 500px;
    width: 1440px;
    background-color: #fff;
}

.seccionFooter{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-content: center;
    
    flex-direction: row;
    height: 190px;
    width: 1250px;
    top: 20px;
    bottom: 20px;
}

.copyright{
    position: absolute;
    width: 250px;
    height: 20px;
    left: 1050px;;
    bottom: 43.15px;
    font-size: 12.5px;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;

    width: 1100px;
    height: 160px;
    
}

.div2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 23px;
    width: 550px;
    height: 160px;
}

.div3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 200px;
    width: 1400px;
    
    
}
.div4{
    display: flex;
    flex-direction: row;
    background-color: #8B48BF;
    height: 250px;
    justify-content: space-around;
    align-items: center;
}

.div5{
    display: flex;
    flex-direction: column;
    background-color: #1E1E26;
    height: 250px;
    justify-content: center;
    align-items: center;
    
    
}

.div6{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 154px;
    height: 126px;
    
   
}

.div7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 393px;
}

.div8{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300PX;
    height: 50PX;
}

.divIconos{
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-between;
    width: 154px;
    
}

.alinearCaja{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 29%;
    
    

}


.titulo1{
    width: 425px;
    height: 220px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 114%;

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.035em;    
}

.titulo2{
    width: 425px;
    height: 88px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 114%;

    display: flex;
    align-items: center;
    color: #fff;
}

.subtitulo1{
    width: 425px;
    height: 71px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157%;

    display: flex;
    align-items: center;
    text-align: right;
}

.subtitulo2{
    width: 425px;
    height: 88px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;
    color: #fff;

}

.principal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;

    position: absolute;
    width: 1090px;
    height: 461.07px;
    left: 180px;
    top: 260px;
}

.padding{
    padding: 0;
    margin: 0;
}

.fraseHome{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    width: 450px;
    height: 399px;

}

.mejordelmes{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.imgFooter{
    position: relative;
    width: 107px;
    height: 25px;
}